/problema1/JavaApplication82/nbproject/private/
/problema1/Terreno1/nbproject/private/
/problema1/Terreno1/build/
/problema2/CantidadHorasEquivalente/nbproject/private/
/problema2/EquivalenteHora/nbproject/private/
/problema2/EquivalenteHora/build/
/problema4/EquipoCelular1/nbproject/private/
/problema4/EquipoCelular1/build/
/problema3/InstitucionesEducativas/nbproject/private/
/problema3/InstitucionesEducativas/build/
